@charset "UTF-8";


a{
	text-decoration: none;
	color: black;
}

main{
	margin-top: 55px;
}

.pm-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	
	
	box-shadow: 2px 2px 5px 1px rgb(190, 190, 190);
}

.pm-logo{
	height: 30px;
}



.pm-btn{
	background: none;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    
}

.pm-search-bar{
	border-radius: 30px;
}



.pm-post-wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pm-post-link{
	display: block;
}

.pm-post{
	position: relative;
	height: 200px;
	width: 250;
	border-radius: 10px;
	overflow: hidden;
	margin: 7px;
}

.pm-post:hover>.pm-post-link{
	display: flex;
}

.pm-photo{
	object-fit: cover;
}

.pm-post-link{
	display: none;
	justify-content: end;
	flex-direction: column-reverse;
	padding: 5px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.1);
}