<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!--/* BOOTSTRAP */-->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>

<!--/* STYLE */-->
<link rel="stylesheet" th:href="@{/css/style.css}" >


</head>
<body>
	
	<header
	th:replace="~{frags/header :: header()}">
	</header>
		
	<main>	
		<div class="container">
			<h1>Album</h1>
			
			<div class="pm-post-wrapper">
				
				<div th:each="photo : ${photos}" 
					class="pm-post" 
					th:object="${photo}" >
					
					<div>
						<img 
						class="pm-photo"
						th:src="*{getFullUrl()}">
					</div>
					
					<a th:href="| /post/*{id} |" class="pm-post-link">
						<div class="pm-hover text-white">
							[[*{title}]]
						</div>
					</a>
				</div>	
			</div>
			
		</div>
		
		
	</main>
	
	

</body>
</html>